body {
  margin: 0;
  height: 100vh;
  background-color: black;

  /* Hide scrollbars */
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

#game-board {
  position: relative;
}

#score-box {
  position: absolute;
  z-index: 5;
  left: 12px;
  top: 10px;
  margin: 0;
  font-family: sans-serif;
  color: white;
  font-size: 0.8rem;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
}